*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: "Poppins", "Open-Sans", sans-serif;
    font-size: 18px;
}
header{
    display: flex;
    flex-direction: column;
    gap:20px;
    background: url("images/bg-hero-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding:30px;
}
#flow-conversation{
    display:flex;
    flex-direction: row-reverse;
}
nav{
    display:flex;
    justify-content: space-between;
}
.try-free{
    background: white;
    padding:10px 30px;
    border-radius: 7px;
    box-shadow: 2px 1px 1px 2px hsl(208,11%,55%);
    color:black;
}
.header-section{
    display: flex;
    gap:20px;
    justify-content: space-between;
}
.pink-button{
    background: hsl(322,100%,66%);
    padding:10px 20px;
    border-radius: 20px;
    box-shadow: 2px 1px 1px 2px hsl(208,11%,55%);
    color:white;
    
}
main{
    height:70%;
    display: flex;
    gap:60px;
    flex-direction: column;
    margin:60px 0px;
    padding:10px;
}
footer{
    height:10%;
}
.main-section{
    display:flex;
    gap:20px;
    height: 300px;
    border-radius:5px;
    align-items: center;
    box-shadow: 2px 1px 1px 2px hsl(208,11%,55%);
}
.main-image{
    height:100%;
    width:70%;
}
.heading-image{
    height:300px;
    width:300px;
}
.logo-image{
    height:30px;
    width: 100px;
}
.get-started{
    display: flex;
    flex-direction: column;
    place-items: center center;
    position: relative;
    top:280px;
    margin-left:300px;
    margin-right: 300px;
    background: white;
    border-radius: 10px;
    padding:20px 10px;
    box-shadow: 2px 1px 1px 2px hsl(208,11%,55%);
}
footer{
    display:flex;
    flex-direction: column;
    margin-top:200px;
    padding:50px 10px 0px;
    justify-content: space-between;
    gap:30px;
    background:hsl(192,100%,9%);
    color:white;
}
.footer-logo{
    background:white;
    width:120px;
    padding:5px 10px;
    border-radius:10px;
}
.svg-icon{
    background: white;
    border-radius:100%;
    padding:3px 5px;
}
.socials{
    background: white;
    padding:5px 10px;
    border-radius: 100%;
}
.social-connect{
    display: flex;
    gap:20px;
    justify-content: space-between;
}
.first-footer{
    display:flex;
    gap:20px;
    align-items: center;
    margin:20px;
}
.other-info{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;
    place-items: center center;
}
.third-social{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.social-icons{
    display: flex;
    gap: 40px;
    justify-content: center;
}

@media all and (max-width:900px){
    .header-section{
        display: flex;
        gap:20px;
        align-items: center;
        flex-direction:column;
        text-align: center;
    }
    body{
        font-family: "Poppins", "Open-Sans", sans-serif;
        font-size: 12px;
    }

    .main-section,#flow-conversation{
        display:flex;
        gap:10px;
        border-radius:5px;
        flex-direction: column-reverse;
        align-items: center;
        box-shadow: 2px 1px 1px 2px hsl(208,11%,55%);
        text-align: center;
        padding:10px;
    }

    .social-connect{
        display: flex;
        gap:20px;
        flex-direction:column;
        justify-content: space-between;
    }

    .get-started{
        display: flex;
        flex-direction: column;
        place-items: center center;
        position: relative;
        top:240px;
        margin-left:60px;
        margin-right: 60px;
        background: white;
        border-radius: 10px;
        padding:5px 3px;
        box-shadow: 2px 1px 1px 2px hsl(208,11%,55%);
        text-align: center;
    }
  .main-image{
    height:70%;
    width:40%;
}
    
}